[Desktop Entry]
Categories=Network;WebBrowser;
Comment=Allows you to set the desired application for a specific domain opening
Exec=/home/nikita/.local/bin/domainredirect %U
GenericName=Web-browser
Icon=browser
MimeType=x-scheme-handler/http;x-scheme-handler/https;
Name=NB DomainRedirect
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
